.cx-button {
   padding: 0 20px;
   position: fixed;
   width: 100%;
   height: auto;
   bottom: 19px;
}

.cx-button button{
    width: 100%;
    background-color: #6E56FF;
    color: #fff;
    font-weight: bold;
    font-family: "Nunito";
    border: none;
    border-radius: 4px;
    height: 50px;
    font-size: 0.8rem;
    cursor: pointer;
}

.cx-button button:hover{
    background-color: #242424;
    box-shadow: 0px 0px 2px 3px rgb(99 2 204);  
}