header {
    padding: 25px;
    font-family: "Nunito";
}

.cx-title-header h1{
    
    color: #f6f6f6;
    font-weight: 900;
    width: 200px;
}

.cx-p-header p{
    margin: 25px 0;
    color: #636363;
    width: 300px
}

.cx-btn-header button {
    cursor: pointer;
    width: 100%;
    background-color: #23262C;
    padding: 15px 0;
    color: #fff;
    font-family: "Nunito";
    font-weight: bold;
    border: dashed 3px rgb(101, 101, 101) ;
    /* background-image: repeating-linear-gradient(0deg, #656565, #656565 23px, transparent 23px, transparent 50px, #656565 50px), repeating-linear-gradient(90deg, #656565, #656565 23px, transparent 23px, transparent 50px, #656565 50px), repeating-linear-gradient(180deg, #656565, #656565 23px, transparent 23px, transparent 50px, #656565 50px), repeating-linear-gradient(270deg, #656565, #656565 23px, transparent 23px, transparent 50px, #656565 50px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat; */
}

.cx-btn-header button:hover{
    border: dashed 3px rgb(11, 202, 46) ;
}

.cx-btn-header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.097);
    padding-bottom: 30px;
}

