*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #171717;
}

body{
    background-color: var(--bg-body);
    font-family: "Nunito";
}

.body-finance{
    background-color: #F5F5F5;
}