*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #F5F5F5;
}

body {
    background-color: var(--bg-body);
    font-family: "Nunito";
}

body a { text-decoration: none; }
